In [1]:
import pandas as pd
import numpy as np

In [2]:
all_star = pd.read_csv("final_data_with_stats_2023_2025.csv")

In [16]:
# Combine first and last name into full_name
all_star['Name'] = all_star['first'].str.strip() + ' ' + all_star['last'].str.strip()

# Create a new DataFrame with only full_name and year
name_year_df = all_star[['Name', 'year']].copy()

# Optional: drop duplicates if you only want one entry per player-year
name_year_df = name_year_df.drop_duplicates()

In [17]:
name_year_df.rename(columns={'year': 'Season'}, inplace=True)

In [18]:
name_year_df.head(10)

                     Name  Season
0           Julius Erving    1980
1           Eddie Johnson    1980
2           Artis Gilmore    1980
3            Reggie Theus    1980
4              Larry Bird    1980
5           Robert Parish    1980
6          Nate Archibald    1980
7  Micheal Ray Richardson    1980
8         Marques Johnson    1980
9             Bobby Jones    1980

In [21]:
subset_df = name_year_df[(name_year_df['Season'] >= 2000) & (name_year_df['Season'] <= 2025)]

In [22]:
subset_df = subset_df.reset_index(drop=True)

In [23]:
subset_df.head()

            Name  Season
0  Allen Iverson    2000
1   Vince Carter    2000
2  Tracy McGrady    2000
3  Antonio Davis    2000
4  Anthony Mason    2000

In [9]:
subset_df.to_csv("all_star.csv", index=False)

In [10]:
all_stats = pd.read_csv("BBGM_League_1_all_seasons_Average_Stats.csv")

In [11]:
subset_stats = all_stats[(all_stats['Season'] >= 2000) & (all_stats['Season'] <= 2025)]

In [12]:
subset_stats.head()

,pid,Name,Pos,DraftPick,Age,Salary,Team,Season,G,GS,...,Ins,Dnk,FT.1,2Pt,3Pt,oIQ,dIQ,Drb,Pss,Reb
842,11,Ray Allen,SG,5.0,25,9.00,MIL,2000,82,82.0,...,51,60,78,76,75,63,52,67,61,53
843,36,Charles Barkley,F,5.0,37,9.00,HOU,2000,20,18.0,...,63,62,36,39,40,61,57,57,56,80
844,61,Chauncey Billups,G,3.0,24,3.10,DEN,2000,13,5.0,...,44,43,55,45,57,45,41,60,57,48
845,103,Kobe Bryant,GF,13.0,22,9.00,LAL,2000,66,62.0,...,55,60,64,68,36,57,50,70,65,51
846,122,Vince Carter,GF,5.0,23,2.27,TOR,2000,82,82.0,...,54,68,60,78,51,64,48,67,59,49

### Merge

In [27]:
# Create a set of (Name, Season) pairs from the All-Star subset
all_star_set = set(zip(subset_df['Name'], subset_df['Season']))

# Add a new column to mark All-Star status
subset_stats['is_all_star'] = subset_stats.apply(
    lambda row: 1 if (row['Name'], row['Season']) in all_star_set else 0,
    axis=1
)

# Preview
subset_stats.head(20)

/var/folders/pp/nms3rb9s3lx8dj72smlll5440000gn/T/ipykernel_2732/1105876436.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_stats['is_all_star'] = subset_stats.apply(

,pid,Name,Pos,DraftPick,Age,Salary,Team,Season,G,GS,...,Dnk,FT.1,2Pt,3Pt,oIQ,dIQ,Drb,Pss,Reb,is_all_star
842,11,Ray Allen,SG,5.0,25,9.00,MIL,2000,82,82.0,...,60,78,76,75,63,52,67,61,53,1
843,36,Charles Barkley,F,5.0,37,9.00,HOU,2000,20,18.0,...,62,36,39,40,61,57,57,56,80,0
844,61,Chauncey Billups,G,3.0,24,3.10,DEN,2000,13,5.0,...,43,55,45,57,45,41,60,57,48,0
845,103,Kobe Bryant,GF,13.0,22,9.00,LAL,2000,66,62.0,...,60,64,68,36,57,50,70,65,51,1
846,122,Vince Carter,GF,5.0,23,2.27,TOR,2000,82,82.0,...,68,60,78,51,64,48,67,59,49,1
847,194,Vlade Divac,C,26.0,32,8.84,SAC,2000,82,81.0,...,57,39,40,40,44,57,61,62,58,1
848,227,Tim Duncan,FC,1.0,24,3.86,SA,2000,74,74.0,...,69,56,55,40,58,48,62,61,74,1
849,245,Patrick Ewing,FC,1.0,38,15.00,NYC,2000,62,62.0,...,66,46,44,20,52,68,47,42,79,0
850,270,Kevin Garnett,FC,5.0,24,16.81,MIN,2000,81,81.0,...,54,55,69,43,53,56,66,68,73,1
851,314,Tim Hardaway,PG,14.0,34,4.80,MIA,2000,52,52.0,...,34,66,63,80,62,51,78,81,53,0
852,340,Grant Hill,GF,3.0,28,6.94,DET,2000,74,74.0,...,72,59,67,39,62,52,69,66,61,0
853,372,Allen Iverson,G,1.0,25,9.00,PHI,2000,70,70.0,...,78,42,66,41,66,54,67,60,52,1
854,428,Jason Kidd,G,2.0,27,6.86,PHO,2000,67,67.0,...,42,62,55,57,51,62,73,84,62,1
855,442,Toni Kukoč,F,32.0,32,4.50,PHI,2000,32,8.0,...,54,47,51,54,54,54,66,64,55,0
856,477,Karl Malone,PF,13.0,37,14.00,UTA,2000,82,82.0,...,84,64,65,36,66,56,67,61,72,1
857,512,Tracy McGrady,GF,9.0,21,1.77,TOR,2000,79,34.0,...,57,44,54,44,50,44,63,59,52,1
858,528,Reggie Miller,SG,11.0,35,9.03,IND,2000,81,81.0,...,63,84,65,82,58,45,61,52,44,0
859,552,Alonzo Mourning,FC,2.0,30,15.00,MIA,2000,79,78.0,...,59,45,51,39,48,38,47,48,48,0
860,553,Chris Mullin,GF,7.0,37,4.08,IND,2000,47,2.0,...,43,71,61,83,45,54,56,49,40,0
861,560,Dikembe Mutombo,C,4.0,34,12.82,ATL,2000,82,82.0,...,55,41,21,38,41,36,57,54,65,1

In [30]:
subset_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3954 entries, 842 to 5448
Data columns (total 90 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pid          3954 non-null   int64
 1   Name         3954 non-null   object
 2   Pos          3954 non-null   object
 3   DraftPick    3261 non-null   float64
 4   Age          3954 non-null   int64
 5   Salary       3954 non-null   float64
 6   Team         3954 non-null   object
 7   Season       3954 non-null   int64
 8   G            3954 non-null   int64
 9   GS           3954 non-null   float64
 10  MP           3954 non-null   float64
 11  FG           3954 non-null   float64
 12  FGA          3954 non-null   float64
 13  FG%          3954 non-null   float64
 14  3P           3954 non-null   float64
 15  3PA          3954 non-null   float64
 16  3P%          3954 non-null   float64
 17  2P           3954 non-null   float64
 18  2PA          3954 non-null   float64
 19  2P%          3954 non-null   float64
 20  eFG%         3954 non-null   float64
 21  FT           3954 non-null   float64
 22  FTA          3954 non-null   float64
 23  FT%          3954 non-null   float64
 24  ORB          3954 non-null   float64
 25  DRB          3954 non-null   float64
 26  TRB          3954 non-null   float64
 27  AST          3954 non-null   float64
 28  TOV          3954 non-null   float64
 29  STL          3954 non-null   float64
 30  BLK          3954 non-null   float64
 31  BA           3954 non-null   float64
 32  PF           3954 non-null   float64
 33  PTS          3954 non-null   float64
 34  AtRimFG      0 non-null      float64
 35  AtRimFGA     0 non-null      float64
 36  AtRimFGP     0 non-null      float64
 37  LowPostFG    0 non-null      float64
 38  LowPostFGA   0 non-null      float64
 39  LowPostFGP   0 non-null      float64
 40  MidRangeFG   0 non-null      float64
 41  MidRangeFGA  0 non-null      float64
 42  MidRangeFGP  0 non-null      float64
 43  DD           0 non-null      float64
 44  TD           3954 non-null   int64
 45  QD           3954 non-null   float64
 46  5x5          3954 non-null   float64
 47  PER          3954 non-null   float64
 48  EWA          3954 non-null   float64
 49  TS%          3954 non-null   float64
 50  3PAr         3954 non-null   float64
 51  FT/FGA       3954 non-null   float64
 52  ORB%         3954 non-null   float64
 53  DRB%         3954 non-null   float64
 54  TRB%         3954 non-null   float64
 55  AST%         3954 non-null   float64
 56  STL%         3954 non-null   float64
 57  BLK%         3954 non-null   float64
 58  TOV%         3954 non-null   float64
 59  USG%         3954 non-null   float64
 60  +/-          3954 non-null   float64
 61  On-Off       3954 non-null   float64
 62  ORtg         3949 non-null   float64
 63  DRtg         3954 non-null   float64
 64  OWS          3954 non-null   float64
 65  DWS          3954 non-null   float64
 66  WS           3954 non-null   float64
 67  WS/48        3954 non-null   float64
 68  OBPM         3954 non-null   float64
 69  DBPM         3954 non-null   float64
 70  BPM          3954 non-null   float64
 71  VORP         3954 non-null   float64
 72  Ovr          3954 non-null   int64
 73  Pot          3954 non-null   int64
 74  Hgt          3954 non-null   int64
 75  Str          3954 non-null   int64
 76  Spd          3954 non-null   int64
 77  Jmp          3954 non-null   int64
 78  End          3954 non-null   int64
 79  Ins          3954 non-null   int64
 80  Dnk          3954 non-null   int64
 81  FT.1         3954 non-null   int64
 82  2Pt          3954 non-null   int64
 83  3Pt          3954 non-null   int64
 84  oIQ          3954 non-null   int64
 85  dIQ          3954 non-null   int64
 86  Drb          3954 non-null   int64
 87  Pss          3954 non-null   int64
 88  Reb          3954 non-null   int64
 89  is_all_star  3954 non-null   int64
dtypes: float64(64), int64(23), object(3)
memory usage: 2.7+ MB

In [40]:
# Drop all columns that contain at least one NaN
cleaned_df = subset_stats.dropna(axis=1)
cleaned_df = cleaned_df.loc[:, cleaned_df.nunique() > 1]
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3954 entries, 842 to 5448
Data columns (total 77 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pid          3954 non-null   int64
 1   Name         3954 non-null   object
 2   Pos          3954 non-null   object
 3   Age          3954 non-null   int64
 4   Salary       3954 non-null   float64
 5   Team         3954 non-null   object
 6   Season       3954 non-null   int64
 7   G            3954 non-null   int64
 8   GS           3954 non-null   float64
 9   MP           3954 non-null   float64
 10  FG           3954 non-null   float64
 11  FGA          3954 non-null   float64
 12  FG%          3954 non-null   float64
 13  3P           3954 non-null   float64
 14  3PA          3954 non-null   float64
 15  3P%          3954 non-null   float64
 16  2P           3954 non-null   float64
 17  2PA          3954 non-null   float64
 18  2P%          3954 non-null   float64
 19  eFG%         3954 non-null   float64
 20  FT           3954 non-null   float64
 21  FTA          3954 non-null   float64
 22  FT%          3954 non-null   float64
 23  ORB          3954 non-null   float64
 24  DRB          3954 non-null   float64
 25  TRB          3954 non-null   float64
 26  AST          3954 non-null   float64
 27  TOV          3954 non-null   float64
 28  STL          3954 non-null   float64
 29  BLK          3954 non-null   float64
 30  BA           3954 non-null   float64
 31  PF           3954 non-null   float64
 32  PTS          3954 non-null   float64
 33  TD           3954 non-null   int64
 34  5x5          3954 non-null   float64
 35  PER          3954 non-null   float64
 36  EWA          3954 non-null   float64
 37  TS%          3954 non-null   float64
 38  3PAr         3954 non-null   float64
 39  FT/FGA       3954 non-null   float64
 40  ORB%         3954 non-null   float64
 41  DRB%         3954 non-null   float64
 42  TRB%         3954 non-null   float64
 43  AST%         3954 non-null   float64
 44  STL%         3954 non-null   float64
 45  BLK%         3954 non-null   float64
 46  TOV%         3954 non-null   float64
 47  USG%         3954 non-null   float64
 48  +/-          3954 non-null   float64
 49  On-Off       3954 non-null   float64
 50  DRtg         3954 non-null   float64
 51  OWS          3954 non-null   float64
 52  DWS          3954 non-null   float64
 53  WS           3954 non-null   float64
 54  WS/48        3954 non-null   float64
 55  OBPM         3954 non-null   float64
 56  DBPM         3954 non-null   float64
 57  BPM          3954 non-null   float64
 58  VORP         3954 non-null   float64
 59  Ovr          3954 non-null   int64
 60  Pot          3954 non-null   int64
 61  Hgt          3954 non-null   int64
 62  Str          3954 non-null   int64
 63  Spd          3954 non-null   int64
 64  Jmp          3954 non-null   int64
 65  End          3954 non-null   int64
 66  Ins          3954 non-null   int64
 67  Dnk          3954 non-null   int64
 68  FT.1         3954 non-null   int64
 69  2Pt          3954 non-null   int64
 70  3Pt          3954 non-null   int64
 71  oIQ          3954 non-null   int64
 72  dIQ          3954 non-null   int64
 73  Drb          3954 non-null   int64
 74  Pss          3954 non-null   int64
 75  Reb          3954 non-null   int64
 76  is_all_star  3954 non-null   int64
dtypes: float64(51), int64(23), object(3)
memory usage: 2.4+ MB

In [41]:
pd.set_option('display.max_columns', None)
cleaned_df.describe()

,pid,Age,Salary,Season,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,TOV,STL,BLK,BA,PF,PTS,TD,5x5,PER,EWA,TS%,3PAr,FT/FGA,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,+/-,On-Off,DRtg,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Ovr,Pot,Hgt,Str,Spd,Jmp,End,Ins,Dnk,FT.1,2Pt,3Pt,oIQ,dIQ,Drb,Pss,Reb,is_all_star
count,3954.000000,3954.00000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.00000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000,3954.000000
mean,420.351290,26.58346,8.751434,2019.484573,52.060698,31.953465,23.547723,4.150319,8.891472,46.228036,1.041422,2.913193,30.350487,3.108897,5.978279,51.732805,52.155711,1.961390,2.540755,73.400295,1.059872,3.344250,4.404122,2.531051,1.400663,0.774187,0.518303,0.494193,1.881289,11.303451,0.359130,0.000506,15.080602,3.339056,55.487037,0.343246,0.273767,5.285635,15.603338,10.455134,15.157233,1.630172,1.944841,12.455524,19.923318,-0.477213,0.055438,110.983561,1.975089,1.510116,3.485205,0.099673,-0.251897,0.069196,-0.182701,1.108675,53.311330,58.616085,49.864188,50.698027,54.782246,54.095346,46.21649,48.683612,58.628730,49.922104,55.232423,46.637329,53.403895,45.735205,50.048306,48.783763,58.391502,0.120637
std,244.280998,4.52642,10.014563,5.834846,24.408911,29.945458,9.727946,2.558691,5.347766,9.400854,0.908936,2.344366,14.256901,2.241481,4.311024,10.937358,9.330860,1.780409,2.213891,17.820246,0.866337,2.051091,2.739996,2.146504,0.938329,0.459430,0.509720,0.335639,0.774093,7.180483,2.004551,0.022488,5.978524,4.583585,8.898369,0.219444,0.172721,4.207345,6.877950,4.919959,9.831043,0.983099,1.916039,5.474222,6.122317,12.056732,12.171109,6.004929,2.514623,1.327319,3.543101,0.090776,3.500047,1.684406,4.342403,1.772538,9.512155,8.898779,12.892304,14.821097,11.714060,13.666745,18.13025,16.247526,16.440842,13.912651,17.160080,17.295909,11.253512,10.266001,13.631166,13.059925,12.877008,0.325747
min,1.000000,20.00000,0.000000,2000.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-45.200000,-3.668060,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-300.000000,-303.000000,44.000000,-3.000000,-0.500000,-1.900000,-2.400000,-28.100000,-14.500000,-42.600000,-2.000000,25.000000,31.000000,7.000000,7.000000,3.000000,0.000000,0.00000,7.000000,2.000000,0.000000,0.000000,0.000000,16.000000,15.000000,8.000000,13.000000,15.000000,0.000000
25%,225.000000,23.00000,1.910000,2017.000000,31.000000,3.000000,16.099893,2.097307,4.647933,41.979658,0.250000,0.905495,27.272727,1.321030,2.567419,47.252747,48.614242,0.666667,0.921182,68.896396,0.450773,1.891155,2.461538,1.000000,0.675676,0.444444,0.180082,0.238273,1.400000,5.622466,0.000000,0.000000,11.500000,0.117980,52.404126,0.175244,0.169358,2.300000,10.800000,6.800000,7.800000,1.100000,0.700000,9.697747,15.500000,-5.100000,-4.000000,107.000000,0.200000,0.400000,0.700000,0.059667,-2.100000,-0.800000,-2.300000,0.000000,45.000000,53.000000,40.000000,40.000000,47.000000,46.000000,35.00000,37.000000,48.000000,42.000000,44.000000,37.000000,46.000000,39.000000,40.000000,40.000000,50.000000,0.000000
50%,426.000000,26.00000,4.375000,2021.000000,60.000000,22.000000,24.911837,3.664414,7.928571,45.541394,0.888194,2.584350,33.953502,2.579329,4.876524,51.586624,52.393419,1.402597,1.890774,77.272727,0.796699,2.961538,3.837500,1.811655,1.201351,0.711325,0.363636,0.433333,1.923077,9.897428,0.000000,0.000000,14.700000,1.494030,56.179990,0.352099,0.249483,3.900000,14.100000,9.200000,12.300000,1.500000,1.400000,11.982173,19.100000,0.400000,0.900000,112.000000,1.200000,1.200000,2.500000,0.102352,-0.300000,0.000000,-0.200000,0.400000,54.000000,59.000000,48.000000,50.000000,55.000000,55.000000,45.00000,46.000000,58.000000,51.000000,55.000000,47.000000,53.000000,45.000000,50.000000,47.000000,57.000000,0.000000
75%,613.000000,29.00000,12.600000,2024.000000,73.000000,63.000000,31.824890,5.839451,12.604741,50.000000,1.632218,4.475307,38.113093,4.475995,8.602206,56.896552,56.547248,2.683448,3.425891,83.333333,1.394657,4.337010,5.687662,3.500000,1.971109,1.029412,0.669831,0.701493,2.400000,16.026764,0.000000,0.000000,18.600000,4.941910,59.739450,0.493231,0.347456,7.300000,19.500000,13.200000,20.500000,2.000000,2.600000,14.585411,23.800000,5.200000,5.300000,115.000000,2.900000,2.300000,5.200000,0.147151,1.600000,0.900000,2.000000,1.600000,60.000000,65.000000,60.000000,61.000000,63.000000,63.000000,57.00000,59.000000,69.000000,60.000000,66.000000,58.000000,61.000000,52.000000,58.000000,56.000000,66.000000,0.000000
max,852.000000,43.00000,59.320000,2025.000000,82.000000,82.000000,43.700000,12.225000,27.816667,100.000000,5.349206,13.179487,100.000000,12.101266,23.350000,100.000000,150.000000,10.230769,13.135135,100.000000,5.432099,11.410959,15.987179,11.738462,5.728395,3.013158,3.826087,2.147541,5.000000,36.128205,42.000000,1.000000,65.600000,25.769075,150.000000,1.000000,2.666667,53.900000,100.000000,56.400000,65.000000,24.200000,44.100000,100.000000,72.500000,93.300000,97.400000,127.000000,14.800000,9.100000,20.200000,0.800000,37.900000,32.700000,48.600000,11.800000,82.000000,86.000000,90.000000,100.000000,92.000000,96.000000,100.00000,100.000000,100.000000,85.000000,100.000000,97.000000,100.000000,88.000000,100.000000,100.000000,98.000000,1.000000

In [42]:
cleaned_df.to_csv("nba_stats_2000-2025.csv", index=False)